/tests              export-ignore
/.gitattributes     export-ignore
/.gitignore         export-ignore
/.github            export-ignore
/phpunit.xml.dist   export-ignore
/phpcs.xml.dist     export-ignore

* text=auto eol=lf
*.php  text
*.md   text
*.yml  text
